body {
  margin: 0px;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.container-app {
  display: flex;
  max-width: 100vw;
  max-height: 100vh;
}

.side_nav {
  height: 100vh;
  width: 250px;
  background-color: #0166ff;
  padding-top: 20px;
}

.side_nav_list {
  padding: 0;
  align-items: center;
}

.item_side_nav {
  background-color: transparent;
  text-decoration: none;
  display: flex;
  color: #f2f4ff;
  font-size: 18px;
  align-items: center;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-color: transparent;
  border-bottom: 1px solid #00000025;
  width: 100%;
}

.item_side_nav:hover {
  background-color: #f2f4ff;
  cursor: pointer;
  color: #0166ff;
  border-bottom: 1px solid #f2f4ff27;
}

.item_side_nav:hover .item_list_icon {
  color: #0166ff;
}

.item_list_icon {
  color: #f2f4ff;
  padding: 15px;
  transform: color 0.3s ease;
}

.top_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  background-color: #0166ff;
}

.top_bar_items {
  display: flex;
  align-items: center;
}

.top_bar_text {
  color: #f2f4ff;
  margin-left: 10px;
  font-weight: bold;
  text-decoration: none;
}

.profile_text {
  margin-right: 10px;
  color: #f2f4ff;
  font-weight: bold;
}

.icon_back {
  background-color: transparent;
  align-items: center;
  justify-content: center;
  padding: 2px 2px 0px 2px;
  cursor: pointer;
  border-color: transparent;
}

.icon_back:hover {
  background-color: #00000025;
  border-radius: 90%;
  align-items: center;
  justify-content: center;
  padding: 2px 2px 0px 2px;
  cursor: pointer;
}

.search_bar {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 20px;
}

.icon_search {
  margin-right: 10px;
  padding-left: 10px;
}

.search_input {
  padding: 10px;
  width: 100vw;
  font-size: 18px;
  border-radius: 5px;
}

.search_input:focus {
  outline-color: #0166ff;
}

.container_clients {
  margin-top: 4;
}

.client_list {
  padding: 0;
  height: calc(100vh - 230px);
  overflow: hidden;
  overflow-y: scroll;
}

.client_item {
  width: 100%;
  background-color: transparent;
  border-color: transparent;
  border-bottom: 1px solid #00000025;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.client_item:hover {
  background-color: #00000005;
  color: #0166ff;
}

.client_icon {
  padding: 15px;
}

.client_info {
  display: grid;
  justify-items: start;
}

.client_name {
  font-size: 18px;
  font-weight: bold;
  padding: 3px;
}

.client_status {
  font-size: 15px;
  padding: 3px;
}

.client_header {
  margin-bottom: 4;
  padding: 10px;
}

.client_hrecommendation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
  padding: 10px;
}

.client_name_header {
  font-size: 30px;
  font-weight: lighter;
  margin-bottom: 0;
  margin-top: 0;
}

.client_id_header {
  color: darkgrey;
}

.client_nopay_button {
  margin-right: 10px;
  font-size: 15px;
  padding: 8px;
  background-color: #0166ff;
  border-color: transparent;
  border-radius: 3px;
  color: #f2f4ff;
  text-transform: uppercase;
}

.client_nopay_button:hover {
  background-color: transparent;
  color: #0166ff;
  border-color: #0166ff;
  cursor: pointer;
}

.client_action_button {
  font-size: 15px;
  padding: 8px;
  background-color: transparent;
  border-color: #0166ff;
  border-radius: 3px;
  color: #0166ff;
  text-transform: uppercase;
}

.client_action_button:hover {
  background-color: #0166ff;
  border-color: transparent;
  color: #f2f4ff;
  cursor: pointer;
}

.alert_clients {
  margin-left: 10px;
  background-color: #f7dc6f75;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #f7dc6f;
}

.client_details_page {
  padding: 20px;
  flex-grow: 1;
}

.grid_idetails {
  display: grid;
  margin-top: 4px;
  grid-template-columns: 1fr 2fr;
}

.idetails_1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.details_right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.recommendation-list {
  padding: 0px;
  display: flex;
  flex-direction: row;
}

.recommendation-option {
  border-bottom: 1px solid lightgray;
  width: calc(100% / 3);
}

.recommendation-item {
  display: grid;
  font-size: 18px;
  padding: 15px;
  text-decoration: none;
  width: 100%;
  background-color: transparent;
  border-color: transparent;
}

.recommendation-details {
  color: gray;
  font-size: 12px;
}

.recommendation-item:hover {
  background-color: #d3d3d380;
  cursor: pointer;
}

.recommendation-item:disabled {
  text-decoration: line-through;
}

.recommendation-opinion {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question-opinion {
  color: gray;
}

.main_app {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.client_detail_item {
  display: flex;
  align-items: center;
  padding: 5px;
  padding-left: 35px;
}

.client_detail_item_icon {
  padding: 5px;
}

.client_detail_item_label {
  font-weight: bold;
  font-size: 20px;
  padding: 15px;
}

.client_detail_item_value {
  font-size: 20px;
}

.login-container {
  text-align: center;
  margin-top: 100px;
}

.login-container button {
  padding: 10px 20px;
  font-size: 16px;
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 24px 24px 50px rgba(0, 0, 0, 0.1);
  padding: 24px;
}

.modal-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
}

.modal-message {
  margin-bottom: 16px;
  font-size: 16px;
  color: #333;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.modal-button-confirm {
  background-color: #0166ff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.modal-button-cancel {
  border: 1px solid #0166ff;
  color: #0166ff;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.modal-button-cancel:hover {
  background-color: #0166ff;
  color: white;
}

.nav_link {
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
}

.nav_link:hover {
  background-color: #00000032;
  transition: all 0.3s;
}

.button {
  padding: 10px;
  margin: 0px 20px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  border-color: transparent;
}

.login-button {
  background-color: #f2f4ff;
  color: #0166ff;
}

.login-button:hover {
  background-color: transparent;
  color: #f2f4ff;
  border-color: #f2f4ff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.logout-button {
  background-color: red;
  color: #f2f4ff;
}

.logout-button:hover {
  background-color: transparent;
  color: red;
  border-color: red;
  cursor: pointer;
  transform: color 0.3s ease;
}

.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0166ff;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.img-home {
  max-width: 300px;
  margin-bottom: 20px;
}

.login-home {
  position: relative;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.4s ease;
}

.login-home::before,
.login-home::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ccc;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease;
  z-index: 0;
}

.login-home::after {
  transform-origin: left;
}

.login-home:hover {
  color: #ccc;
}

.login-button:hover::before {
  transform: scaleX(1);
}

.login-home:hover::after {
  transform: scaleX(1);
  transition-delay: 0.2s;
}

.login-home span {
  position: relative;
  z-index: 1;
}

.home-text {
  color: #fff;
  padding: 0px 200px 0px 200px;
}

.img-top_bar {
  max-width: 150px;
}

.categories-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-option {
  display: flex;
  position: relative;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  align-items: center;
  margin-right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.4s ease;
}

.button-option::before,
.button-option::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0166ff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
  z-index: 0;
}

.button-option::after {
  transform-origin: right;
}

.button-option:hover {
  color: #0166ff;
}

.button-option:hover::before {
  transform: scaleX(1);
}

.button-option:hover::after {
  transform: scaleX(1);
  transition-delay: 0.2s;
}

.button-option span {
  position: relative;
  z-index: 1;
}
